$odd_article_color:grey;
$main_color: white;//rgba(200,200,200,50);
$header_footer_color:black;
$background_img: url(../img/woman.jpg);
$form_color: rgba(200,200,200,90);
$button_color_hover:rgba(200,200,200,90);
$button_color_hover_back:#1883ba;
$button_table_border_thead:#085175;
$button_color:black;
$button_border:white;
$tr_pares:#ddd;